body {
    /* Photo by Denise Jans on Unsplash */
    background-image:
    linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.9)),
    url(../img/reels.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

main {
    padding-top: 50px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1111;
    background-color: rgb(46, 46, 46);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-family: 'Lora', serif;
    font-size: 2.5em;
}

header h1 a, header ul a {
    color: rgb(245, 245, 245);
}

header h1 a:hover, header ul a:hover {
    color: rgb(201, 201, 201);
}

header ul {
    padding-top: 10px;
    display: flex;
    font-size: 1.5em;
    font-family: 'Lora', serif;
}

header ul li {
    padding: 0px 10px;
}

.splash {
    height: 500px;
}

.splash h2 {
    width: 500px;
    padding: 250px 0px 0px 50px;
    font-family: 'Lora', serif;
}

#big-text {
    font-size: 1.25em;
}

.card {
    border: 1px solid grey;
    border-radius: 0px;
    height: 100%;
    box-shadow: -3px 3px 3px grey;
}

.card a img {
    width: 100%;
}

.card h4 {
    padding-top: 10px;
    font-family: 'Lora', serif;
    color: black;
}

.card p {
    font-family: 'Raleway', sans-serif;
}

.polaroid {
    padding-top: 12px;
}